#bodyContainer {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.headerFlex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center ;
	padding: 	24px 40px;
}

.ready {
	transition: 2s linear;
	background-color: rgb(5, 255, 5);
}

input, select{
	margin:			0;
	padding: 		0;
	height: 		auto;
	border: 		0;
	box-shadow:     none;
    outline:        none;
    border:         1px solid rgba(0,0,0,.1);
}

.headerFlex input, .headerFlex select{
	font-family: 	monospace;
	font-size: 		2em;
	background: 	transparent;
	color: 			white;
	border:         0;
	width:			30vw;
	max-width: 		11em;
}

.headerFlex option{
	color: 			black;
}

.headerFlex .btn-ghost{
	padding:		10px;
	border:			0;
	background:		transparent;
	color: 			white;
}

div#pasteName {
	font-family: monospace;
	font-size: 2em;
	color: rgb(213, 255, 0);
}

#pasteName > .fa-code-fork {
	font-size: 65%;
}

.pasteLang {
	display: inline-block;
	color: white;
	font-size: 90%;
	opacity: .5;
}

#editor {
	flex-grow: 1;
}

.hljs {
	background-color: rgb(29, 31, 33) !important;
}

.tool-button {
	transition: .2s linear;
}

.hideSlow{
	opacity: 0;
}

.errorEncryp {
	color: tomato;
}

@media screen and (max-width:800px) { 
	.headerFlex{
		justify-content: center;
		padding-right: 0;
		padding-left: 0;
	}
}

@media screen and (max-width:600px) { 
	#selectLanguage, #submitPaste + button {
		display: none;
	}
	.headerFlex {
		justify-content: space-around;
	}
	.headerFlex input{
		width: 	80vw;
	}
}