#bodyContainer {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.headerFlex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 	24px 40px;
	width: 		calc( 100% - 80px );
}

.headerFlex .inputContainer{
	flex: 1;
	display: flex;
}

.ready {
	transition: 2s linear;
	background-color: rgb(5, 255, 5);
}

input, select{
	margin:			0;
	padding: 		0;
	height: 		auto;
	border: 		0;
	box-shadow:     none;
    outline:        none;
    border:         1px solid rgba(0,0,0,.1);
}

.headerFlex input, .headerFlex select{
	flex:			1;
	font-family: 	monospace;
	font-size: 		2em;
	background: 	transparent;
	color: 			white;
	border:         0;
}

.headerFlex input{
	width: 			60%;
	max-width: 		15em;
}

.headerFlex select{
	width: 			40%;
	max-width: 		11em;
}

.headerFlex option{
	color: 			black;
	font-size: 		60%;
}

.headerFlex .btn-ghost{
	padding:		10px;
	border:			0;
	background:		transparent;
	color: 			white;
}

div#pasteName {
	font-family: monospace;
	font-size: 2em;
	color: rgb(213, 255, 0);
}

#pasteName > .fa-code-fork {
	font-size: 65%;
}

.pasteLang {
	display: inline-block;
	color: white;
	font-size: 90%;
	opacity: .5;
}

#editor {
	flex:	1;
}

.hljs {
	background-color: rgb(29, 31, 33) !important;
}

.tool-button {
	transition: .2s linear;
}

.hideSlow{
	opacity: 0;
}

.errorEncryp {
	color: tomato;
}

#bodyContainer footer{
	font-size: 1em;
	line-height: 1.2em;
	color: white;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

footer .elem{
	padding: 0 2em;
	opacity: .6;
}

footer .file-type{
	text-transform: uppercase;
}

#nprogress .spinner{
	top: 50% !important;
	right: 50% !important;
	margin-top: -9px;
	margin-right: -9px;
}

@media screen and (max-width:800px) { 
}

@media screen and (max-width:600px) { 
	#selectLanguage, #submitPaste + button {
		display: none;
	}
	.headerFlex input{
		width: 100%;
	}
}