header {
	height: 3em;
	position: relative;
	background-color: rgb(19, 19, 19);
}

.button {
	transform: translateY(21%);
}

#pasteName {
	margin-left: 6em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: monospace;
	font-size: 2em;
	color: rgb(213, 213, 213);
}

#home, #submitPaste {
	margin-left: 5em;
}

#controls {
	position: absolute;
	margin-right: 3em;
	right: 0;
	top:0;
}

#editor {
	height: calc(100vh - 4em);
}