body {
	width: 100%;
	height: 100%;
	font-family: monospace;
}

nav{
	background-color: rgba(0,0,0,.2);
}

.slideout-menu {
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	left: auto;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 95%;
	max-width: 256px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}

.slideout-panel {
	position:relative;
	z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: flex;
}

.custom-restricted {
	width: auto;
	font-family: monospace;
	overflow-y: auto !important;
}

.shortcuts {
	border-top: 1px solid rgba(255,255,255,.1);
	padding: .5em 1em;
	color: #777;
	opacity: .7;
}

.shortcuts>div {
	padding: .4em 0;
}


/*
.shortcuts kbd {
	-moz-border-radius:3px;
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	-webkit-border-radius:3px;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	background-color:#f7f7f7;
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	color:#333;
	display:inline-block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	line-height:1.4;
	margin:0 .1em;
	padding:.1em .6em;
	text-shadow:0 1px 0 #fff;
}
*/

.shortcuts kbd{
	color: black;
	background-color: white;
	padding: .2em .8em;
	font-size: 11px;
	border-radius: 3px;
	margin: 0 .4em;
}

#pasteName > .octicon-repo-forked{
	vertical-align: middle;
}

.octicon-repo-forked {
	color: white;
	transition: 0.2s;
}

.octicon-repo-forked:hover {
	color: #00FF7D;
}

.pure-menu-list .octicon-lock {
	color: #A2A23F;
}

.pure-menu-list .pure-menu-item{
	padding-right: 	2em;
}

.pure-menu-item {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.delete-container {
	position: 		absolute;
	right: 			1em;
	top: 			.5em;
	opacity: 		0;
}

.pure-menu-item:hover .delete-container{
	opacity: 1;
	color: gray;
}

.delete-paste{
	cursor: pointer;
}

.delete:hover {
	transition: 0.3s;
	color: #E75959;
}

.fa.fa-external-link, .fa.fa-clipboard {
	font-size: 14px;
}