#megaContainer{
	background:		#1d1f21;
}

#bodyContainer {
	background: 	#1d1f21;
}

.NotifyToast {
	font-family: 	monospace;
}

body .pad0 {
	padding: 		0;
}

.pure-menu-link {
	transition: 0.2s;
}

body {
	text-rendering: optimizeLegibility;
}